In [173]:
from faker import Faker
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine

In [174]:
db_uri = 'sqlite:///file.db'
engine = create_engine(db_uri, echo=False)

In [175]:
conn = sqlite3.connect('test_database')

In [176]:
c = conn.cursor()

In [177]:
f = Faker("fr_FR")

In [178]:
nom = []
adresse = []

In [179]:
for _ in range(10):
    nom.append(f.name())

In [180]:
nom

['Denis Lucas',
 'Manon Dumas',
 'Théophile-Grégoire Maurice',
 'Suzanne-Cécile Dubois',
 'Jérôme Blondel',
 'Henri Diaz',
 'Josette Menard',
 'Matthieu Alves de De Sousa',
 'Corinne-Élisabeth Jourdan',
 'Adélaïde Michaud']

In [181]:
for _ in range(10):
    adresse.append(f.address())

In [182]:
df = pd.DataFrame(zip(nom,adresse),columns=["nom","adresse"])

In [183]:
df.head(10)

,nom,adresse
0,Denis Lucas,"4, boulevard Huet\n18135 Germain"
1,Manon Dumas,"27, rue Perez\n78870 Carlier-sur-Giraud"
2,Théophile-Grégoire Maurice,"458, chemin de Perrot\n76223 Rémy-sur-Rossi"
3,Suzanne-Cécile Dubois,"61, rue Aubry\n95734 Hernandezdan"
4,Jérôme Blondel,"53, boulevard de Perret\n17555 Saint Aurore"
5,Henri Diaz,"9, boulevard de Morel\n15624 Sainte Alice"
6,Josette Menard,"71, chemin Martin Boulay\n12209 Lenoirdan"
7,Matthieu Alves de De Sousa,"75, avenue Jacob\n07960 Pottier"
8,Corinne-Élisabeth Jourdan,"624, rue de Chauveau\n72563 Bouvetboeuf"
9,Adélaïde Michaud,"54, avenue Laurent Berthelot\n40749 Sainte Lucie"

In [184]:
aze = df.to_sql('products', conn, if_exists='replace', index = False)

In [185]:
c.execute('''  
SELECT * FROM products
          ''')

for row in c.fetchall():
    print (row)

('Denis Lucas', '4, boulevard Huet\n18135 Germain')
('Manon Dumas', '27, rue Perez\n78870 Carlier-sur-Giraud')
('Théophile-Grégoire Maurice', '458, chemin de Perrot\n76223 Rémy-sur-Rossi')
('Suzanne-Cécile Dubois', '61, rue Aubry\n95734 Hernandezdan')
('Jérôme Blondel', '53, boulevard de Perret\n17555 Saint Aurore')
('Henri Diaz', '9, boulevard de Morel\n15624 Sainte Alice')
('Josette Menard', '71, chemin Martin Boulay\n12209 Lenoirdan')
('Matthieu Alves de De Sousa', '75, avenue Jacob\n07960 Pottier')
('Corinne-Élisabeth Jourdan', '624, rue de Chauveau\n72563 Bouvetboeuf')
('Adélaïde Michaud', '54, avenue Laurent Berthelot\n40749 Sainte Lucie')