In [93]:
from faker import Faker
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine

In [94]:
db_uri = 'sqlite:///file.db'
engine = create_engine(db_uri, echo=False)

In [95]:
conn = sqlite3.connect('test_database')

In [96]:
c = conn.cursor()

In [97]:
f = Faker("fr_FR")

In [98]:
nom = []
adresse = []

In [99]:
for _ in range(10):
    nom.append(f.name())

In [100]:
nom

['Susanne Lucas',
 'Caroline Dijoux',
 'Valentine Schmitt',
 'Théodore Lévêque-Barbier',
 'Auguste Charles',
 'Thierry Tanguy-Bodin',
 'Julie Samson-Brunet',
 'Daniel du Evrard',
 'Tristan Meyer-Meunier',
 'Anne-Josette Vaillant']

In [101]:
for _ in range(10):
    adresse.append(f.address())

In [102]:
df = pd.DataFrame(zip(nom,adresse),columns=["nom","adresse"])

In [103]:
df.head(10)

                        nom                                            adresse
0             Susanne Lucas  12, boulevard Lemonnier\n17442 Sainte Matthieu...
1           Caroline Dijoux   76, rue Marcel Guillet\n90269 Schneider-la-Forêt
2         Valentine Schmitt    5, chemin Pauline Fabre\n83650 Bonnin-sur-Leleu
3  Théodore Lévêque-Barbier                134, chemin Lenoir\n84614 Traorenec
4           Auguste Charles              66, avenue Michèle Perret\n80273 Mahe
5      Thierry Tanguy-Bodin                       42, rue Fouquet\n25512 Pires
6       Julie Samson-Brunet         58, avenue Henri Delattre\n86760 Chevalier
7          Daniel du Evrard   12, boulevard de Rousseau\n48663 Saint RémyBourg
8     Tristan Meyer-Meunier                         51, rue Tanguy\n01912 Noël
9     Anne-Josette Vaillant                 avenue Navarro\n46051 VerdierVille

In [106]:
aze = df.to_sql('products', if_exists='replace',con = engine, index = False)

In [105]:
c.execute('''  
SELECT * FROM products
          ''')

for row in c.fetchall():
    print (row)

('Suzanne Fleury', '912, rue Eugène Collin\n17666 Sainte Maurice')
('Philippine Pineau', '63, boulevard de Bonnin\n51051 Guillaume')
('Marc Martinez', '29, rue de Buisson\n22618 Étienne')
('Geneviève Bousquet', '57, rue de Masson\n11070 Robert-sur-Gaudin')
('Timothée Lefèvre', 'boulevard de Roger\n89142 Saint Michèle')
('Emmanuelle Renard', 'avenue Gilbert Leblanc\n57765 Saint Simonenec')
('Théophile de la Joseph', '311, boulevard Besnard\n25231 Sainte Jacques')
('Nathalie Samson-Monnier', '40, boulevard de Lopez\n93117 Chevallier')
('Colette Martins', '76, rue Lamy\n27966 Rey')
('Margaux Petitjean-Da Silva', 'avenue de Lejeune\n51449 Lévêquedan')