In [49]:
from sqlalchemy import MetaData,create_engine,select,text
from faker import Faker
from faker_food import FoodProvider
from random import randint,uniform,choice
from random import randrange
from datetime import timedelta
from datetime import datetime
from dateutil.relativedelta import relativedelta
from random import sample

In [50]:
engine = create_engine('sqlite:///restaurant.db')

metadata = MetaData()

In [51]:
with engine.connect() as conn: #connection avec notre base de données existantes
    metadata.reflect(conn)

In [52]:
# Extraire le nombre d’employés dans chaque département de chaque pays 
# (on suppose que le département correspond aux deux premiers termes du code postal)
with engine.begin() as conn :
    result = conn.execute("""select count(personnel.personne_id),departement,pays.pays_nom FROM restaurant 
    join personnel on personnel.restaurant_id = restaurant.restaurant_id
    join code_postal on code_postal.code_postal = restaurant.code_postal
    join pays on pays.pays_nom = restaurant.pays_nom 
    GROUP BY departement""").fetchall()
    
    
    for row in result:
        print(result)

# plus ou moins ok

OperationalError: (sqlite3.OperationalError) ambiguous column name: pays_nom
[SQL: select count(personnel.personne_id),departement,pays_nom from restaurant
    join personnel on personnel.restaurant_id = restaurant.restaurant_id
    join code_postal on code_postal.code_postal = restaurant.code_postal
    join pays on pays.pays_nom = restaurant.pays_nom
    GROUP BY departement]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
# Extraire l’ingrédient le plus utilisé dans chaque département de chaque pays

In [ ]:
# Extraire le restaurant ayant la masse salariale la moins importante (somme des salaires) dans chaque pays

In [ ]:
#Extraire le plat le moins vendu entre 00h00 et 11h59 pour chaque restaurant. (Colonne 1 : Restaurant, colonne 2 : plat, colonne 3 : quantité)

In [ ]:
# Extraire les restaurants n’ayant pas encore ouvert (sans employés). (Colonne 1 : Restaurant)

#### 0   !

In [ ]:
# 6 pas encore fait le stock et si on fait un stock au qui fixe une constante pour chaque ingredient de chaque
# pays , on en vient au même partout

In [ ]:
# Extraire le bénéfice moyen de chaque pays sur l’ensemble des produits vendus 
# (bénéfice = prix de vente d’un item – prix d’achat).

In [ ]:
# Extraire le top 10 des restaurants payant le mieux leurs employés ayant plus de deux ans 
# d’expérience. (Colonne 1 : restaurant, colonne 2 : salaireMoyen)

In [ ]:
# Extraire le nombre moyen de ventes réalisé pour chaque heure par un employé 
# ayant moins d’1 an d’expérience (Colonne 1 : Heure, Colonne 2 : nbventes)

In [ ]:
# Extraire le chiffre d’affaire moyen des restaurants ayant un espace pour enfant 
# et celui des restaurants n’en ayant pas. (Colonne 1 : typeRestaurant, Colonne 2 : CAmoyen)

In [ ]:
# Extraire la moyenne des notes attribuées pour chaque manager 
# aux employés sous leurs ordres (Colonne 1 : manager, Colonne 2 : notemoyenne).